#calTop{
    display: flex;
}
#calTop > h6 {
    margin: 30px 10px;
}

#calTop > button {
    background-color: white;
    border: none;
}

#calBottom{
    display: flex;
    flex-wrap: wrap; /*하위요소 자동 줄바꿈*/
}

#calBottom > div {
    width: 14%;
    height: 100px;
    border: 1px solid lightgrey;
}

#calBottom > .week {
    height: 20px;
    text-align: center;
    font-weight: bold;
}
#calBottom > .sunday {
    height: 20px;
    background-color: red;
    color: white;
    text-align: center;
}